* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%; 
    
}

body {

    width: 100%;

}


:root {
    --fuentes-principales: "roboto";

    --tamaño-de-fuente-grande: 6.0rem;
    --tamaño-de-fuente-mediano: 2.5rem;
    --tamaño-de-fuente-normal: 1.8rem;
    --tamaño-de-fuente-pequeño: 0.8rem;
    --tamaño-de-fuente-consola: 1.5rem;

    --grosor-de-fuento-grande: 800;
    --grosor-de-fuento-mediano: 700;
    --grosor-de-fuente-normal-bold: 500;
    --grosor-de-fuento-normal: 200;

    --color-de-fuentes-principal: #111;
    --color-de-fuentes-secundario: #949494;

    
    --color-blanco : #ffffff;
    --color-secundario : #808080;
    --color-de-consola: #2b2b2b;
    --color-positivo: #1bff07;
    --color-negativo: rgb(255, 0, 34);
    --color-base: #111111;


    --sombreado-cards: 0px 60px 40px 0px rgb(148 148 148 / 25%);;
    --sombreado-sections: 0 20px 20px rgba(148, 148, 148, 0.322);
    --gradiente: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%)
    
}

body {
    background-color: var(--color-blanco);
    font-family: var(--fuentes-principales);
    color: var(--fuentes-principales);
}

.cuerpo-principal { 
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.cuerpo-principal section {
    width: 1210px;
    min-width: 1210px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 500px
}


.titulo-principal {
    font-size: var(--tamaño-de-fuente-grande);
    font-weight: var(--grosor-de-fuento-grande);
    margin-bottom: 100px;
    margin-top: 150px;

}

.subtitulo-principal {
    font-size: var(--tamaño-de-fuente-normal);
    margin-bottom: 50px;
}


.contenedor-de-cards {
    display: flex;
    
}

.fondo-de-la-card {
    display: flex;
    width: 300px;
    height: 400px;
    background-color: #fcfcfcc2;
    padding: 30px;
    border-radius: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    box-shadow: var(--sombreado-cards), inset 6px -17px 12px -26px rgb(148 148 148 / 59%);
    transition: transform 0.5s cubic-bezier(0.35, 0.03, 0, 0.68), box-shadow 0.8s cubic-bezier(0.34, -0.12, 0.04, 1);
}

.fondo-de-la-card:hover {
    transform: translateY(-9px);
    background-color: rgba(76, 2, 118, 0.1);
    box-shadow: 0 30px 50px rgba(148, 148, 148, 0.714);
}


.contenedor-de-imagen {   
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;  
}

.contenedor-de-imagen img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nombre-del-estudiante {
    font-size: var(--tamaño-de-fuente-mediano);
    color: var(--color-de-fuentes-principal);
    font-weight: var(--grosor-de-fuento-grande);
    letter-spacing: 0.5px;
    margin-bottom: 2px;
}

.ocupacion-del-estudiante {
    font-size: var(--tamaño-de-fuente-normal);
    font-weight: var(--grosor-de-fuento-mediano);
    color: var(--color-secundario);
}

.texto-especial {
    color: rgb(255, 196, 0);
}  

.texto-especial1 {
    color: rgb(85, 5, 190);
}

.texto-especial2{
    color: rgb(141, 56, 253);
}

.contenedor-de-la-seccion-de-ejercicios {
    display: flex;
    flex-direction: row;
    width: 1210px;
    height: auto;
    padding: 50px;
    box-shadow: var(--sombreado-cards);
    background-color: #fcfcfcc2;
    border-radius: 50px;
    margin: 50px;
}

.contenedor-de-el-user {
    margin-right: 100px;
    text-align: center;
}

.contenedor-de-los-ejercicios{
    display: flex;
    flex-direction: column;
}

.contenedor-de-los-ejercicios h1 {
    margin: 0 0 50px 0;

}

.descripcion-del-ejercicio {
    font-size: var(--tamaño-de-fuente-normal);
    letter-spacing: 0.5px;
    width: 80%;
    height: 30%;
    margin-bottom: 50px;
 

}
.inputs-de-ejercicios {
    width: fit-content;
    margin-bottom: 30px;
}

.inputs-de-ejercicios input {
    height: 50px;
    width: auto;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    border: none;
    outline: none;
    transition: border-color 0.5s cubic-bezier(0.35, 0.03, 0, 1);
    transition: box-shadow 0.3s ease-in-out;
    box-shadow:  -3px 5px 10px #aaaaaa9f, 0 5px 10px #aaaaaa00 inset;

}

.inputs-de-ejercicios input:first-child {
    margin-right: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield;
}

input::placeholder {
    color: #090909;;
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.35, 0.03, 0, 1), font-size 0.3s cubic-bezier(0.2, -0.1, 0.02, 0.1);

}

input:focus::placeholder {
    opacity: 0.8;
    font-size: 13.2px;
    backdrop-filter: blur(10px);
}


input:focus {
    box-shadow: 0 0px 0px #ffffff00 ,0 1px 7px #aaaaaa44 inset;
}


.ariculo-de-ejercicios {
    background-color: var(--color-de-consola);
    border-radius: 50px;
    padding: 20px;
    color: var(--color-blanco);
    display: flex;
    align-items: center;
    font-size: var(--tamaño-de-fuente-consola);
    justify-content: space-between ;
    font-weight: var(--grosor-de-fuente-normal-bold);
    box-shadow: var(--sombreado-cards);
    margin-bottom: 20px;
    letter-spacing: 0.3px;
    
}

.ariculo-de-ejercicios h2 {
    margin-right: 10px;
    font-size: inherit;
    font-weight: var(--grosor-de-fuente-normal-bold);
}


.ejercicio-respuesta {
    background-color: var(--color-base);
    padding: 10px;
    border-radius: 100px;
    width: 100px;
    height: 30px;
    text-align: center;
    font-weight: var(--grosor-de-fuente-normal-bold);
    display: flex;
    justify-content: center;
    align-items: center;
}